.sidebar__main {
    background-color: var(--sidebar-color);
    max-width: 250px;
    overflow: hidden;
    flex: 0.2;
}

.sidebar__header {
    background-color: #dadada;
    padding: 10px;
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.sidebar__header > input {
    border: none;
    background-color: transparent;
    width: 100%;
    height: auto;
}

.sidebar__heading {
    margin-left: 20px;
    padding-top: 20px;
    color: var(--primary-color);
}

.sidebar__links > ul {
    padding: 10px;
    cursor: pointer;
}

.sidebar__links > ul >li:hover {
    color: var(--primary-color);
    font-weight: 600;
}

.sidebar__links > ul > li {
    margin-left: 20px;
    padding-top: 20px;
    list-style-type: none;
    font-size: 14px;
    font-weight: 400;
}

