
/*

.sidebarOption {
    display: flex;
    margin-left: 20px;
    padding: 20px;
    font-size: 14px;
    font-weight: lighter;
    cursor: pointer;
}

.sidebarOption:hover {
    background-color: #333333;
    opacity: 0.8;
}

.sidebarOption__icon {
    font-size: 20px !important;
    margin-right: 10px;
}
*/